n8n json/DI01 - init 1.json
{
  "name": "DI01 - init 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -112
      ],
      "id": "06e56f3c-096a-4e06-8b76-31789f7d4cf3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/files/init/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "a8c768b5-4778-4faa-8a0b-57b3ff41fae7",
      "name": "dossier init"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/input/{{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        800,
        -208
      ],
      "id": "34a65882-7bf7-4b50-82ad-225c73f1fc8e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        352,
        -208
      ],
      "id": "b2d8659e-8873-4d80-b3f4-2b896ddf148a",
      "name": "Limit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yZBUMk0OBhqzSgjz",
          "mode": "list",
          "cachedResultUrl": "/workflow/yZBUMk0OBhqzSgjz",
          "cachedResultName": "DI01 - init 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        -208
      ],
      "id": "68dbe6e8-8f8b-4359-a2d1-11774b0105ad",
      "name": "Call 'DI01 - init 2'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "order_items",
          "mode": "list",
          "cachedResultName": "order_items"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        -208
      ],
      "id": "8377e0fa-c9f2-4f0b-bf1b-6b643a551f2a",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "oMUtCNTBsPTMQ7AE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "order_items_brut",
          "mode": "list",
          "cachedResultName": "order_items_brut"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -208
      ],
      "id": "583c2452-4e3c-4d25-b6b8-46726aef644b",
      "name": "Delete table or rows1",
      "credentials": {
        "postgres": {
          "id": "oMUtCNTBsPTMQ7AE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dV2o6QBSEPGHFKaV",
          "mode": "list",
          "cachedResultUrl": "/workflow/dV2o6QBSEPGHFKaV",
          "cachedResultName": "DI01 - init 3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        -16
      ],
      "id": "57f65f0d-e4c8-4717-ba95-9b4122493136",
      "name": "Call 'DI01 - init 3'",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'DI01 - init 2'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'DI01 - init 3'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dossier init": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "dossier init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'DI01 - init 2'": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'DI01 - init 3'": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ef477c7-6e20-4258-a9ab-c9286fb016a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d2e6b2ab107c75a9aab86eb944284a674df6dc4b638051c83523375ca2b1092"
  },
  "id": "GMQu8Qey8pixBHEW",
  "tags": []
}