n8n json/DI01 - init 1.json
{
  "name": "DI01 - init 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "abf87f2d-61a8-4279-87a9-7ed3aecf6d00",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/files/init/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "6cfb31f7-30f2-4846-9d75-73195e026463",
      "name": "dossier init"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/input/{{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "e4e71f93-f743-44fb-b8ef-29743ef20a8a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "71c2ee51-7af2-4871-bf6e-c82031cf8c1b",
      "name": "Limit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BgEWYlRKwKpoZSDU",
          "mode": "list",
          "cachedResultUrl": "/workflow/BgEWYlRKwKpoZSDU",
          "cachedResultName": "DI01 - init 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "2918014b-43b2-475e-a298-991c49e4b6fa",
      "name": "Call 'DI01 - init 2'",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'DI01 - init 2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dossier init": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "dossier init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'DI01 - init 2'": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ea490f8-437d-4945-84b5-39b76b0835fa",
  "meta": {
    "instanceId": "bdb09622112d37b9fa9585d950e166cb8dacde51f5c6e73d6b18dbefc7052009"
  },
  "id": "rw51IzXfiPL19kyK",
  "tags": []
}