n8n json/DI01 - init 1.json
{
  "name": "DI01 - init 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7874d3dd-e36a-4b1d-b9de-a58798ac7bd2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wpwoSda87hG7TX74",
          "mode": "list",
          "cachedResultUrl": "/workflow/wpwoSda87hG7TX74",
          "cachedResultName": "DI01 - init 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "d8d85ad9-e236-49c9-8c61-efa28752c4d0",
      "name": "Call 'remettre à 0 les fichiers input'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fileSelector": "/files/init/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "db669db1-8dac-4ea4-b016-a15be91faf1d",
      "name": "dossier init"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/input/{{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "417a115d-dd68-4c02-a222-8125b5390daa",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "44bf71b0-5bf1-47d5-b035-03bdc5a555f4",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'remettre à 0 les fichiers input'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dossier init": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'remettre à 0 les fichiers input'": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "dossier init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17872dee-f728-4b77-8f94-ad22d5592afc",
  "meta": {
    "instanceId": "d49672cb188940cace6dee22037378458ab6621920e1e23051a450cbbff59ec8"
  },
  "id": "D6yxGhDVZ3kGidJF",
  "tags": []
}