n8n json/INSERT JSON ORDERS.json
{
  "name": "INSERT JSON ORDERS",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        -160
      ],
      "id": "43831f99-a409-4de7-9e88-1153532b57cc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": ".json",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "01c6161c-4125-40c6-ab34-f013cd13dfa7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ef6d5716-7b7a-41ba-9f30-827f9fff1fb1",
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -416,
        -160
      ],
      "id": "591079c6-ce71-46bb-84f0-fcec3a2e5f2c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        -256
      ],
      "id": "b0f094cd-5864-40a2-adc1-45bce0d8a31c",
      "name": "JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        928,
        -64
      ],
      "id": "9851984d-540e-4b0d-9873-4d11bd1ee62d",
      "name": "CSV"
    },
    {
      "parameters": {
        "jsCode": "// Input attendu: $input.first().json.data = tableau d'orders (comme ton exemple)\n// Sortie: une ligne par item avec tous les champs utiles\n\nconst orders = $input.first().json.data;\nconst flattened = [];\n\nfor (const order of orders) {\n  const {\n    order_id,\n    customer_id,\n    channel,\n    created_at,\n    payment_status,\n    items = []\n  } = order;\n\n  if (!Array.isArray(items) || items.length === 0) {\n    // S'il n'y a pas d'items, on sort quand même une ligne \"vide\"\n    flattened.push({\n      json: {\n        order_id,\n        customer_id,\n        channel,\n        created_at,\n        payment_status,\n        sku: null,\n        qty: 0,\n        unit_price: null,\n        // line_total: 0, // décommente si tu veux le total de ligne\n      }\n    });\n    continue;\n  }\n\n  for (const it of items) {\n    const qty = Number(it?.qty ?? 0);\n    const unit_price = Number(it?.unit_price ?? 0);\n    flattened.push({\n      json: {\n        order_id,\n        customer_id,\n        channel,\n        created_at,\n        payment_status,\n        sku: it?.sku ?? null,\n        qty,\n        unit_price,\n      }\n    });\n  }\n}\n\nreturn flattened;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -256
      ],
      "id": "082b0e4b-c556-43cb-8ce2-432b88182012",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "order_items_brut",
          "mode": "list",
          "cachedResultName": "order_items_brut"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "customer_id": "={{ $json.customer_id }}",
            "channel": "={{ $json.channel }}",
            "created_at": "={{ $json.created_at }}",
            "payment_status": "={{ $json.payment_status }}",
            "sku": "={{ $json.sku }}",
            "qty": "={{ $json.qty }}",
            "unit_price": "={{ $json.unit_price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "line_id",
              "displayName": "line_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "inserted_at",
              "displayName": "inserted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -256
      ],
      "id": "fba9a381-50e8-4b1e-a4f0-921189c98733",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "oMUtCNTBsPTMQ7AE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/files/input/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -640,
        -160
      ],
      "id": "111a52ed-d2c7-4645-9502-509a83370eac",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -192,
        -256
      ],
      "id": "98af7f8a-c178-4345-9947-0f593e0560dd",
      "name": "Limit"
    },
    {
      "parameters": {
        "command": "=mv /files/input/{{ $('Read/Write Files from Disk').item.json.fileName }} /files/done/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        -160
      ],
      "id": "10a94973-1c85-492b-9818-1d67ed0433a9",
      "name": "Execute Command"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        704,
        -256
      ],
      "id": "e424d511-f0e6-42eb-b5aa-46a925e1eb72",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT order_id, MIN(customer_id), MIN(channel), MIN(created_at), MIN(payment_status), sku, SUM(qty), MAX(unit_price), item_index, MIN(inserted_at)\nFROM order_items_brut\nGROUP BY order_id, sku, item_index;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        -256
      ],
      "id": "eb66cd65-7804-4ac9-87ac-c1adbe9097fe",
      "name": "GROUP BY",
      "credentials": {
        "postgres": {
          "id": "oMUtCNTBsPTMQ7AE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        []
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "GROUP BY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GROUP BY": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86b2019d-f8f4-4b74-b5df-527c928e9892",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d2e6b2ab107c75a9aab86eb944284a674df6dc4b638051c83523375ca2b1092"
  },
  "id": "yOSuWMTvnylLRVOT",
  "tags": []
}